<div class="card-body col-sm-9">
  <ul class="tab-list list-unstyled">
    <li class="tab tab-active">
      <%= @outcomename %>
    </li>
    <li class="tab">
      <%= @incomename %>
    </li>
  </ul></br>
  <h4 class="card-title">おこづかいちょう</h4><br>
  <h5 class="card-text">
  <div>
    <div class="tabbox box-show">
      <%= render 'layouts/list' %>
    </div>
    <div class="tabbox">
      <%= render 'layouts/form' %>
    </div>
  </div>
</div>
