<header>
  <nav class="navbar container admin">
    <% if current_user %>
      <i class="fa-solid fa-house-chimney"></i>
      <%= "管理者用画面　#{current_user.name} さん" %>
      <%= link_to 'ログアウトはこちら', destroy_user_session_path, method: :delete, class:"admin-logout" %>
    <% end %>
  </nav>
</header>