<footer>
  <% if current_user.present? %>
    <div>
      <ul class = "link-list footer-btn">
        <li><%= link_to "カレンダー", mypage_calendar_users_path, class: "footer-color" %></li>
        <li><%= link_to "レポート", mypage_users_path, class: "footer-color" %></li>
        <li><%= link_to "やりたいこと", wants_path, class: "footer-color" %></li>
      </ul>
    </div>
  <% end %>
</footer>