<header>
  <% if current_user.present? %>
    <%= link_to homes_path do %>
      <div class="col-sm-9">
        <h3 class="home-btn">
          <i class="fa-solid fa-house-chimney"></i>
          <%= " #{current_user.name} さん専用ノート" %>
        </h3>
      </div>
    <% end %>
    <div class="col-sm-9 setting">
        <%= link_to edit_user_path(current_user) do %>
          <h3><i class="fa-regular fa-face-smile" style="color: #212529;"></i></h3>
        <% end %>
    </div>
    <div class="col-sm-9 setting">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <h3 class="setting"><i class="fa-solid fa-right-from-bracket" style="color: #212529;"></i>ログアウトはこちらから</h3>
      <% end %>
    </div>
  <% end %>
<br><br>
</header>